<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>@@title</title>
<meta name="description" content="Medical marijuana solutions for Mississippi">
<meta name="keywords" content="Medical marijuana solutions for Mississippi">
<meta name="author" content="Ryan Meyers">
<meta name="website" content="https://noblelabsms.com">
<meta name="email" content="hello@noblelabsms.com">
<meta name="version" content="1.0">
<!-- favicon -->
<link href="assets/images/favicon.ico" rel="shortcut icon">